<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[MYAPP] %d{HH:mm:ss} %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="service" level="DEBUG"/>
    <logger name="com.yourpackage" level="DEBUG"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>